/* HEADER*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0rem;
    z-index: 2022;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header .container nav .btn-mobile{
    display: none;
}*/

header .container nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu li{
    margin-right: 4.8rem;
    transition: all 0.2s;
}

header .container nav .menu li a{
    transition: all 0.2s;
}

header .container nav .menu li a:hover{
    color: var(--white-color);
    transform: translateY(-8%);
}

header .container nav .menu-social{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 4rem;
    gap:3.4rem
}

header .container nav .menu-social li{
    transition: all 0.2s;
}

header .container nav .menu-social li:hover{
    transform: translateY(-8%);
}

/* Section hero*/

.s-hero{
    background: url(../img/1101999.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.s-hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 5.8rem;
}

.s-hero .container .title-box h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
}

.s-hero .container .title-box h1 span{
    color:var(--primary-color);
}

.s-hero .container .title-box h2{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(220, 246, 7, 0.8);
    margin-bottom: 1.3rem;

}

.s-hero .container .title-box p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: rgba(220, 246, 75, 0.8);
}

.s-hero .container .title-box .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
}
.s-hero .container .title-box .techs img{
    transition: all 0.2s;
}

.s-hero .container .title-box .techs img:hover{
    transform: translateY(-12%);
}

.s-hero .container .title-box .btn-primary{
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

/* Section Sucess*/

.s-sucess{
    padding: 14.4rem 0;
    margin: 0 auto;
}

.s-sucess .container{
    display: flex;
    align-items: center;
    gap: 4.0rem;
}

.s-sucess .container .cards{
    display: flex;
}
.s-sucess .container .title-sucess h2{
    margin-top: 2rem;
}

.s-sucess .container .title-sucess h2 span{
    font-size: 700;
}

.s-sucess .container .title-sucess h2{
    font-weight: 700;
}

.s-sucess .container .cards .card{
    width: 100%;
    height: 30rem;
    background-color: var(--white-color);
    border-radius: 4px;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
}

.s-sucess .container .cards .card:hover{
    filter: brightness(0.9);
    transform: scale(1.04);
}

.s-sucess .container .cards .card .card-title{
    margin: 5rem 0;
    padding-right: 9.9rem;
    padding-left: 1.4rem;
}

/* Ativo */

.s-sucess .container .cards .card.active{
    background-color: var(--primary-color);
}

.s-sucess .container .cards .card .card-title h3{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-sucess .container .cards .card .card-info{
    padding-left: 1rem;
}

.s-sucess .container .cards .card .card-info p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 3.1rem;
    line-height: 3.9rem;
}

/* About */

.s-about {
    background-color: var(--black-color-medium);
    padding: 6rem 0;
}

.s-about .container{
    display: flex;
    justify-content: space-between;   
}

.s-about .container .about-me{
    width: 100%;
    max-width: 71rem;
}

.s-about .container .about-me h2{
    font-weight: 900;
}

.s-about .container .about-me p {
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--white-color-alpha);
    margin-top: 2.4rem;
}

.s-about .container .about-me ul{
    display: flex;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

.s-about .container .about-me ul li{
    transition: all 0.2s;
}

.s-about .container .about-me ul li:hover{
    transform: translateY(-10%);
}

.s-about .container .about-me img{
    border-radius: 4px;
}

.s-about .container .about-me img:hover{
    border-radius: 4px;
}

.s-about .container .my-picture{
    border-radius: 3.9rem;
}

/* Cases */
.s-cases{
    padding: 5rem 0rem;
}

.s-cases .container{
    display: flex;
    flex-direction: column;
}

.s-cases .container .title-cases{
    margin-bottom: 7.4rem;
}

.s-cases .container .title-cases h2{
    font-weight: 900;
}

.s-cases .container .cases{
    display: flex;
    width: 100%;
}

.s-cases .container .cases .case img{
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;
}

.s-cases .container .cases .case img:hover{
    transform: translateY(-2%);
}

.s-cases .container .cases .case:nth-child(2){
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: -1.6rem;
}
/*  Contact */
.s-contact {
    padding-top: 4rem;
    padding-bottom: 13rem;
    
}

.s-contact .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-contact .container .title-contact{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 34.3rem;
}

.s-contact .container .title-contact .tag{
    width: 100%;
    max-width: 13.2rem;
}

.s-contact .container .form-contact{
    width:100%;
    max-width: 48.6rem ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:3.1rem;
}



.s-contact .container .form-contact .input-group input[type="email"]{
    margin-bottom: 3.1rem;
    
}

.input-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Footer */

footer{
    background-color: var(--black-color-medium);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copy {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    line-height: 2.4rem;
    padding: 5.2rem;
}